@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import "tailwindcss";

html,
body {
  background: #122161;
  font-family: "Nanum Myeongjo", serif;
}

.bg-glass2 {
  background: linear-gradient(91.53deg, rgba(255, 255, 255, 0.044) -6.96%, rgba(255, 255, 255, 0.029) 106.1%);
  border: 1px solid;

  border-image-source: radial-gradient(120.73% 120.73% at -10.62% 0%, rgba(255, 250, 250, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%),
    radial-gradient(116.46% 116.46% at 0% 9.52%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(70px);
  box-shadow: 0px 0px 30px -9px #FFFFFF66 inset;
  color: white;
}

.bg-glass1 {
  background: linear-gradient(91.53deg, rgba(255, 255, 255, 0.2024) -6.96%, rgba(255, 255, 255, 0.1334) 106.1%);
  border: 1px solid;

  border-image-source: radial-gradient(120.73% 120.73% at -10.62% 0%, rgba(255, 250, 250, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ,
    radial-gradient(116.46% 116.46% at 0% 9.52%, rgba(255, 255, 255, 0.166) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.83) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;

  backdrop-filter: blur(70px);

  box-shadow: 0px 0px 30px -9px #FFFFFF66 inset;
  color: white;

}